---
Checks: "-*,bugprone-*,performance-*,modernize-*,-modernize-use-trailing-return-type,-bugprone-exception-escape,-bugprone-unhandled-exception-at-new,-modernize-pass-by-value,-modernize-use-auto,-bugprone-easily-swappable-parameters,-modernize-return-braced-init-list"
WarningsAsErrors: "*"
FormatStyle: none
