[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/uriparser"]
	path = extern/uriparser
	url = https://github.com/uriparser/uriparser.git
[submodule "extern/draco"]
	path = extern/draco
	url = https://github.com/google/draco.git
[submodule "extern/earcut.hpp"]
	path = extern/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/GSL"]
	path = extern/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "extern/asyncplusplus"]
	path = extern/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "extern/glTF"]
	path = extern/glTF
	url = https://github.com/KhronosGroup/glTF.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "extern/CSPRNG"]
	path = extern/CSPRNG
	url = https://github.com/Duthomhas/CSPRNG.git
[submodule "extern/PicoSHA2"]
	path = extern/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "extern/magic_enum"]
	path = extern/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "extern/cmake-modules"]
	path = extern/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
