[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/uriparser"]
	path = extern/uriparser
	url = https://github.com/uriparser/uriparser.git
[submodule "extern/draco"]
	path = extern/draco
	url = https://github.com/google/draco.git
[submodule "extern/earcut"]
	path = extern/earcut
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/GSL"]
	path = extern/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "extern/asyncplusplus"]
	path = extern/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "extern/CSPRNG"]
	path = extern/CSPRNG
	url = https://github.com/Duthomhas/CSPRNG.git
[submodule "extern/PicoSHA2"]
	path = extern/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "extern/cmake-modules"]
	path = extern/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "extern/s2geometry"]
	path = extern/s2geometry
	url = https://github.com/google/s2geometry.git
[submodule "extern/KTX-Software"]
	path = extern/KTX-Software
	url = https://github.com/CesiumGS/KTX-Software.git
	branch = cesium-native
[submodule "extern/libwebp"]
	path = extern/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "extern/libmorton"]
	path = extern/libmorton
	url = https://github.com/Forceflow/libmorton.git
[submodule "extern/expected-lite"]
	path = extern/expected-lite
	url = https://github.com/martinmoene/expected-lite.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/CesiumGS/libjpeg-turbo.git
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
