[submodule "extern/GSL"]
	path = extern/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "extern/glTF"]
	path = extern/glTF
	url = https://github.com/KhronosGroup/glTF.git
[submodule "extern/CSPRNG"]
	path = extern/CSPRNG
	url = https://github.com/Duthomhas/CSPRNG.git
[submodule "extern/PicoSHA2"]
	path = extern/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
