build
doxygen
Testing
node_modules
.vs
CMakeSettings.json
*.user
.cache
*.DS_Store
test.db
__pycache__

# Conan generates this file in each package directory, for no apparent reason:
# https://github.com/conan-io/conan/issues/10373
graph_info.json
